.sideBar {
    /* border: 1px solid yellow; */
    min-height: 100vh;
    background-color: #0f0f0f;
    color: beige;
    flex: .2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sideBar__upper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
    gap: 15px;
    width: 100%;
}

.sideBar__upper>.logo {
    font-size: 24px;
    font-weight: 900;
    cursor: pointer;
}

.sideBar__upper>.logo:hover {
    background-color: #262626;
    transform: scale(1);
    text-decoration: underline;
}

.sideBar__upper>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 400;
    width: 75%;
    padding: 8px;
    transform: scale(.9);
}

.sideBar__upper>div:hover {
    background-color: rgb(55, 56, 56);
    transform: scale(1);
}


.sideBar__lower {
    display: flex;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 15px;
    gap: 15px;
    width: 100%;
}

.sideBar__lower>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    cursor: pointer;
    text-transform: uppercase;
    width: 75%;
    padding: 8px;
    transform: scale(.9);
}

.sideBar__lower>div:hover {
    background-color: rgb(55, 56, 56);
    transform: scale(1);
}